body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  font-family: 'Bakery', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
   font-family: 'Bakery';
   font-style: normal;
   font-weight: 400;
   src: local('Bakery'), url('./fonts/CornerBakery-Regular.ttf') format('truetype');
   /* src: url('../../../public/fonts/CornerBakery-Regular.ttf'); */
 }
